<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="org.example"/>
    <!--Controller-->
<!--    <bean name="authController" class="org.example.controller.AuthController" autowire="byName" scope="singleton"/>-->
<!--    <bean name="cardController" class="org.example.controller.CardController" autowire="byType"/>-->
<!--    <bean name="profileController" class="org.example.controller.ProfileController" autowire="byName"/>-->
<!--    <bean name="terminalController" class="org.example.controller.TerminalController" autowire="byName"/>-->
<!--    <bean name="transactionController" class="org.example.controller.TransactionController" autowire="byName"/>-->
<!--    <bean name="adminController" class="org.example.controller.AdminController" autowire="byName"/>-->
<!--    <bean name="userController" class="org.example.controller.UserController" autowire="byType"/>-->
    <!--Services-->
<!--    <bean name="authService" class="org.example.service.AuthService" autowire="constructor"/>-->
<!--    <bean name="cardService" class="org.example.service.CardService" autowire="byType"/>-->
<!--    <bean name="userService" class="org.example.service.UserService" autowire="byType"/>-->
<!--    <bean name="adminService" class="org.example.service.AdminService" autowire="constructor"/>-->
<!--    <bean name="terminalService" class="org.example.service.TerminalService" autowire="byType" scope="singleton"/>-->
<!--    <bean name="transactionService" class="org.example.service.TransactionService" autowire="byType"/>-->
    <!--Repository-->
    <bean name="transactionRepository" class="org.example.repository.TransactionRepository"/>
    <bean name="cardRepository" class="org.example.repository.CardRepository" autowire="byName"/>
    <bean name="profileRepository" class="org.example.repository.ProfileRepository"/>
    <bean name="terminalRepository" class="org.example.repository.TerminalRepository"/>
</beans>